* {
  box-sizing: border-box;
}

html,
body {
  height: 90vh;
}

.wrap {
  position: relative;
  height: 80%;
  min-height: 500px;
}

.game {
  transform-style: preserve-3d;
  perspective: 500px;
  min-height: 100%;
  height: 100%;
}

.card {
  float: left;
  width: 25%;
  height: 25%;
  padding: 2px;
  text-align: center;
  display: block;
  perspective: 500px;
  position: relative;
  cursor: pointer;
  z-index: 50;
}

@media (max-width: 800px) {
  .card {
    width: 25%;
    height: 16.666%;
  }
}

.card .inside {
  width: 100%;
  height: 100%;
  display: block;
  transform-style: preserve-3d;
  transition: 0.4s ease-in-out;
  background: #79B95275;
}

.card .front,
.card .back {
  border: 1px solid black;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.card .front img,
.card .back img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 100%;
}

.card .front {
  transform: rotateY(-180deg);
}

@media (max-width: 800px) {
  .card .front {
    padding: 5px;
  }

  .card .back {
    padding: 5px;
  }
}

.card .inside.picked,
.card .inside.matched {
  transform: rotateY(180deg);
}

@keyframes matchAnim {
  0% {
    background: #bcffcc;
  }

  100% {
    backgroud: rgb(230, 249, 120);
  }
}

@-webkit-keyframes matchAnim {
  0% {
    background: #bcffcc;
  }

  100% {
    background: rgb(225, 184, 184);
  }
}

.card .inside.matched {
  -webkit-animation: 1s matchAnim ease-in-out;
  animation: 1s matchAnim ease-in-out;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.modal-overlay {
  display: none;
  background: #79B95210;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal {
  display: none;
  position: relative;
  width: 600px;
  height: 450px;
  max-height: 90%;
  max-width: 90%;
  min-height: 380px;
  margin: 0 auto;
  background: #79B952;
  top: 50%;
  transform: translateY(-50%);
  padding: 40px;
  border-radius: 11px;
}

.modal .winner {
  margin-bottom: 20px;
  font-size: 80px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 3px 0 black;
}

@media (max-width: 480px) {
  .modal .winner {
    font-size: 60px;
  }
}

.modal .restart {
  margin: 30px auto;
  padding: 20px 30px;
  display: block;
  font-size: 30px;
  border: none;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 8px;
  color: white;
  text-shadow: 0px 1px 0 black;
  cursor: pointer;
}

.modal .restart:hover {
  background: white;
  color: #79B952;
}

.modal .message {
  text-align: center;
}